<%= alchemy_form_for [:admin, @page], class: 'edit_page' do |f| %>
  <%= f.input :page_layout,
    collection: @page_layouts,
    label: page_layout_label(@page),
    include_blank: Alchemy.t('Please choose'),
    input_html: {class: 'alchemy_selectbox'} %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :urlname, as: 'string', input_html: {value: @page.slug}, label: Alchemy::Page.human_attribute_name(:slug) %>

  <div class="input check_boxes">
    <label class="control-label"><%= Alchemy.t(:page_status) %></label>
    <div class="control_group">
      <%= render 'alchemy/admin/pages/publication_fields' %>
      <%= page_status_checkbox(@page, :restricted) %>
      <% if configuration(:sitemap)['show_flag'] %>
        <%= page_status_checkbox(@page, :sitemap) %>
      <% end %>
    </div>
  </div>

  <% if @page.taggable? %>
    <div class="input string autocomplete_tag_list">
      <%= f.label :tag_list %>
      <%= render 'alchemy/admin/partials/autocomplete_tag_list', f: f %>
    </div>
  <% end %>

  <%= f.submit Alchemy.t(:save) %>
<% end %>
