<%= content_tag :div, class: [
  'page-publication-date-fields',
  'input-row'
] do %>
  <div class="input-column">
    <label class=""><%= Alchemy.t(:from) %></label>
    <%= alchemy_datepicker @page, :public_on, type: :datetime,
      disabled: @page.attribute_fixed?(:public_on) %>
  </div>
  <div class="input-column">
    <label class=""><%= Alchemy.t(:until) %></label>
    <%= alchemy_datepicker @page, :public_until, type: :datetime,
      disabled: @page.attribute_fixed?(:public_until) %>
  </div>
<% end %>
