<%= search_form_for @query, url: url, class: 'search_form' do |f| %>
  <div class="select_with_label">
    <label><%= Alchemy.t('Show sub pages from') %></label>
    <%= f.number_field :parent_id_eq, class: 'alchemy_selectbox large' %>
  </div>

  <div class="search_field">
    <button type="submit">
      <%= render_icon('search') %>
    </button>
    <%= f.search_field resource_handler.search_field_name,
      class: 'search_input_field',
      placeholder: Alchemy.t(:search) %>
    <%= link_to render_icon(:times, size: 'xs'), url_for(q: {parent_id_eq: params.dig(:q, :parent_id_eq)}),
        class: 'search_field_clear',
        id: 'search_field_clear',
        title: Alchemy.t(:click_to_show_all),
        style: search_filter_params.dig(:q, resource_handler.search_field_name).present? ? 'display: block' : 'display: none' %>
  </div>
<% end %>
