<% linkable = content_editor.settings[:linkable] != false %>

<% if content_editor.essence && content_editor.essence.allow_image_cropping? %>
  <%= link_to_dialog render_icon(:crop),
    alchemy.crop_admin_essence_picture_path(content_editor.essence), {
      size: "1080x615",
      title: Alchemy.t('Edit Picturemask'),
      image_loader: false,
      padding: false
    }, {title: Alchemy.t('Edit Picturemask')} %>
<%- else -%>
  <a href="#" class="disabled" tabindex="-1"><%= render_icon(:crop) %></a>
<%- end -%>

<%= link_to_dialog render_icon('file-image', style: 'regular'),
  alchemy.admin_pictures_path(
    element_id: content_editor.element,
    content_id: content_editor.id,
    swap: true
  ),
  {
    title: (content_editor.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)),
    size: '790x590',
    padding: false
  },
  title: (content_editor.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)) %>

<%= link_to_if linkable, render_icon(:link), '', {
  onclick: 'new Alchemy.LinkDialog(this).open(); return false;',
  class: content_editor.linked? ? 'linked' : nil,
  title: Alchemy.t(:link_image),
  'data-content-id' => content_editor.id,
  id: "edit_link_#{content_editor.id}"
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:link) %></span>
<% end %>

<%= link_to_if linkable, render_icon(:unlink), '', {
  onclick: "return Alchemy.LinkDialog.removeLink(this, #{content_editor.id})",
  class: content_editor.linked? ? 'linked' : 'disabled',
  tabindex: content_editor.linked? ? nil : '-1',
  title: Alchemy.t(:unlink)
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:unlink) %></span>
<% end %>

<%= link_to_dialog render_icon(:edit),
  alchemy.edit_admin_essence_picture_path(
    id: content_editor.essence.id,
    content_id: content_editor.id
  ), {
    title: Alchemy.t(:edit_image_properties),
    size: edit_picture_dialog_size(content_editor)
  }, title: Alchemy.t(:edit_image_properties) %>
